services:

  mongo:
    image: mongo:latest
    container_name: journal_mongo_dev
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    restart: always

  dev-server:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: journal_backend_dev
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json
      - ./backend/tsconfig.json:/app/tsconfig.json
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always

  dev-client:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: journal_frontend_dev
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - dev-server
    restart: always

volumes:
  mongo_data:
